h1 {
  color: blue;
  font-size: 210%;

}

p {
  font-family: fantasy;
  text-indent: 30px;
  margin-left: 15px;
}
body {
  background-color: lightyellow;
}
div {
  background-color: lightgrey;
  width: 100px;
  border: 10px solid grey;
  padding: 50px;
  margin: 20px;
}
